* {
  box-sizing: border-box;
  background-color: rgb(216, 205, 175);
}

body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#game-board {
  width: 550px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.box {
  flex:0 0 140px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid rgb(10, 3, 2);
  font-size: 60px;
  cursor: pointer;
}

#game-winner {
  color: rgb(199, 109, 109);
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player-name {
  font-size: 20px;
  font: bold;
  font-family: 'Open Sans', sans-serif;
}

input {
  background: white;

}

button {
  background: white;
}